*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

:root {
	--spacing: 1em;
	--gutter: 0.5em;
	--ink: white;
	--paper: #111;
}

html,
body {
	height: 100%;
	color: var(--ink);
	background-color: var(--paper);
}
